[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	registered = false
[submodule "pairwiseLLM"]
	path = pairwiseLLM
	url = https://github.com/shmercer/pairwisellm
[submodule "writeAlizer"]
	path = writeAlizer
	url = https://github.com/shmercer/writealizer
