[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "writeAlizer"]
	path = writeAlizer
	url = https://github.com/shmercer/writealizer
